#root {
  background-color: white;
  min-width: 100vw;
  min-height: 100vh;
}

.activity {
  outline: black solid 1px;
  width: 70%;
  margin-top: 5px;
  padding-left: 5px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
.open {
  background-color: rgba(255, 255, 0, 0.5);
}

.done {
  background-color: rgba(144, 238, 144, 0.5);
}

.skipped {
  background-color: rgba(255, 192, 203, 0.5);
}

.timeline_activity {
  outline: black solid 2px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  outline: blue solid 3px;
  position: relative;
  left: 50px;
  width: 80%;			

  overflow-y: hidden;
}

.grid {
  position: absolute;
  width: 80%;
  /* outline: "1px solid black"; */
}

.grid_line {
  position: absolute;
  height: 1px;
  background-color: green;
  left: 10px;
  right: 0px;
  display: flex;
  align-items: center;
}
