#app {
  background-color: pink;
  height: 100vh;
  width: 100vw;
}

#timeline_block {
  background-color: white;
  margin-top: 7vh;
  height: 90vh;
  width: 20%;
  left: 10%;
  position: absolute;
  outline: red solid 1px;
}

.hour_block {
  color: green;
  display: flex;
  align-items: center;
  text-indent: -100%;
  font-size: 12px;
  position: absolute;
  left: 10%;
  width: 90%;
  height: 2px;
  background-color: blue;
}

.activity {
  color: blue;
  display: flex;
  align-items: center;
  text-indent: 100%;
  font-size: 12px;
  position: absolute;
  left: 10%;
  width: 60%;
  height: 2px;
  background-color: rgba(255, 255, 0, 0.3);
  outline: black solid 1px;
}
