#app {
  background-color: pink;
  height: 100vh;
  width: 100vw;
}

#timeline_block {
  background-color: white;
  margin-top: 2vh;
  height: 90vh;
  width: 20%;
  left: 10%;
  position: absolute;
  outline: red solid 1px;
}

.hour_block {
  color: green;
}
